.curriculum {
  margin: 20px auto;
  display: block;
  justify-content: center;
}

.labels {
  font-weight: bold;
}

.title-duration {
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.labels-2 {
  font-style: italic;
}

.studies {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 25px;
}

.flag-select img {
  position: inherit !important;
}

.form-margin {
  margin-bottom: 1em;
}
