.header-color {
  background-color: #ba0f16;
}

.header-font {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header-title {
  font-size: 28px;
  color: white;
  margin: 0 auto;
  justify-content: center;
  float:none;
  display: inline-block;
  text-align: center;
}