.jobs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sticky {
  position: sticky;
  top: 0;
}

.home-jobs-container {
  display: flex;
  align-items: baseline;
}
