.jobs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sticky {
  position: sticky;
  top: 0;
}

.home-jobs-container {
  display: flex;
  align-items: baseline;
}

.titles {
  font-size: 36px;
  font-weight: bold;
}

.titles-2 {
  font-size: 24px;
  font-weight: bold;
}

.labels {
  font-weight: bold;
}
