.jobs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sticky {
  position: sticky;
  top: 0;
}

.home-jobs-container {
  display: flex;
  align-items: baseline;
}
